<ion-content [fullscreen]="true">


  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="right-column">
          <ion-row>
            <ion-img src="assets/images/Image_2.png" alt="Logo" class="logo"></ion-img>
          </ion-row>
          <div class="right-item">
            <ion-text>
              <h1>Pour commencer ...</h1>
            </ion-text>
            <ion-text>
              Faire votre Shynlei, jouer avec, c'est l'occasion <br>d'écouter vos rêves. de les partager et de
              prendre<br>
              confiance dans votre richesse
            </ion-text>


            <form>


              <ion-list>
                <ion-item color="none">
                  <ion-label position="stacked">Nom et prénom</ion-label>
                  <ion-input placeholder="Enter text" [value]="'Jeal'" required></ion-input>
                </ion-item>
                <ion-item color="none">
                  <ion-label position="stacked">Mon intention :</ion-label>
                  <ion-text class="item-desc-2 mb-4"> L'intention. l'obiectif de ce Shynlei</ion-text>
                  <ion-input placeholder="Enter text" [value]="'Mon rêl'" required></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </div>

        </ion-col>
        <ion-col class="left-column">

          <ion-text><h1> Votre Shynleï <span class="text-left-column">c'est ...</span></h1></ion-text>

          <div class="description-left"> 7 étapes, 2 fiches pour prendre note des
            rencontres, 1 page pour éclairer<br> le sens, 3
            interprétations pour vous aider..
          </div>
          <ion-grid class="icon">
            <ion-row>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-1.svg" alt="Icon"></ion-img>
                <ion-text>1. La rêve libère l'expression.</ion-text>
              </ion-col>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-2.svg" alt="Icon"></ion-img>
                <ion-text>2. Le sens éclaire le parcours</ion-text>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-3.svg" alt="Icon"></ion-img>
                <ion-text> 3. La différence rend unique</ion-text>
              </ion-col>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-4.svg" alt="Icon"></ion-img>
                <ion-text> 4. La valeur humaine met en mouvement</ion-text>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-5.svg" alt="Icon"></ion-img>
                <ion-text> 5. La clé exprime le style</ion-text>
              </ion-col>
              <ion-col size="12" size-md="6" class="item-icon">
                <ion-img src="assets/images/Page-6.svg" alt="Icon"></ion-img>
                <ion-text> 6. Le parcours associe rêve et réalité</ion-text>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" class="item-icon">
                <ion-img src="assets/images/Page-7.svg" alt="Icon"></ion-img>
                <ion-text> 7. Le ciel bleu révèle l'alignement</ion-text>
              </ion-col>


            </ion-row>
          </ion-grid>

          <div class="exprimer-action">
            <button (click)="valider()" type="submit">Exprimer mes réves ></button>
          </div>


        </ion-col>
      </ion-row>
    </ion-grid>


  </div>

</ion-content>
