
ion-content {
  --background: url('./../../assets/images/background.png') center center / cover no-repeat;
}

.logo {
  height: 150px;
  cursor: pointer;
  margin-top: -10px;
  padding-left: 45px;
}

.icon img {
  max-height: 30px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;


}

.right-column {
  flex: 2;
  padding: 0 10px;
  color: white;
  width: 80%;

}

.right-item {
  align-items: center;
  margin-left: 3rem;
  color: white;
  font-size: 25px;
  font-family: smile;
  padding: 45px;

  h1 {
    font-family: bold;
    font-size: 35px;
  }

  ion-text {
    color: white;
  }

  ion-list {
    background: transparent;
    color: white;
    width: 80%;
  }

  ion-label {
    font-family: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }

  ion-item {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -15px;
  }
}


.right-item h2 {
  margin-bottom: 10px;
}


.left-column {
  flex-direction: column;
  align-items: flex-start;
  padding: 6%;

  h1 {
    font-size: 35px;
    font-family: bold;

  }
}


.item-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;

  ion-text {
    font-size: 12px;
  }

  ion-img {
    max-width: 50px;
    max-height: 50px;
  }
}

.description-left {
  margin-bottom: 15%;
}

.exprimer-action {
  text-align: center;
  margin-top: 8%;

}

.exprimer-action button {
  background: #81b6bd;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}


.item-desc-2 {
  margin-top: 12px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5) !important;
}


/* À partir de 768px */
@media (max-width: 768px) {
  ion-content {
    --background: white;
    opacity: 1;
  }

  .right-column {
    display: none; /* Cache la right-column */
  }

  .logo, .menu-icon {
    display: none;
  }

  .left-row {
    display: inline-block;
    margin-bottom: 6px;
  }
  .text-left-column {
    display: none;
  }
  .left-column {
    font-size: 13px;
    justify-content: space-between;

    .icon ion-img {
      max-width: 35px;
      max-height: 35px;

    }

    .icon ion-text {
      font-size: 10px;
    }

  }
  .description-left {
    margin-bottom: 7%;
  }

}
